/*Reset CSS */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}


#app{

}


#header{
    height: 46px;
    background-color: black;
}

#nav {
    display: inline-block;
    
}

#nav, .MucAnBanHang {
    list-style-type: none;
}


#nav > li {
    display:inline-block
}

#nav li{
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
    display:inline-block
}

#nav .icon {
    font-size: 12px;
}

#nav .nav-down {
    font-size: 12px;
}

#header .search-btn{
    padding-top: 14px;
    padding-right: 30px;
    float: right;
    color: #fff;
    display: inline-block;
}

#header .search-icon{
    color :white;
    font-size: 20px;
}

#DangXuat{
    float: right;
    position: absolute;
    right: 5%;
    top: 0.1%;

}

#DangXuat > li:hover > a {
    color: #000;
    background-color: #ccc;
    display:inline-block
}

#DangXuat li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    color: #fff;
}



#nav .MucAnBanHang a{
    color:#000;
    padding: 0 24.3px;
}

#nav .MucAnBanHang li:hover {
    color: #000;
    background-color: #ccc;
}








#slider{
    min-height: 700px;
    background-color: #333;
    background-image: url(../img/backround.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    float: right;
    padding-right: 10%;
}



.Text1 { 
	color:rgb(247, 247, 247);
	width:15%;
	height:10%;
	position:absolute;
	left: 67%;
	top:50%;
	font-family:Maven Pro;
	text-align:left;
	font-size:75px;
	letter-spacing:4;
}

.Text2 {
    color: #fff;
    width: 15%;
    height: 10%;
    position: absolute;
    left: 80%;
    top: 54%;
    font-family:Maven Pro;
	text-align:left;
	font-size:75px;
	letter-spacing:4;

}

.bangdangnhap { 
	background-color:rgb(215, 119, 119);
	width:200px;
	height:50px;
	position:absolute;
	left:74% ;
	top: 67%;
	border-top-left-radius:48px;
	border-top-right-radius:48px;
	border-bottom-left-radius:48px;
	border-bottom-right-radius:48px;
}

.Name { 
	color:rgba(0, 0, 0, 1);
	width:85%;
	height:90%;
	position:absolute;
	left:19%;
	top: 18%;
	font-family:Microsoft JhengHei UI;
	text-align:left;
	font-size:25px;
	letter-spacing:4;
    list-style-type: none;
    
}

.Name > li > a{
    text-decoration: none;
    color: #fff;
}
